<h1> <%= @article.title %>  </h1>
<p>
  <%= @article.body %>
</p>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>

<%= render partial: 'comments/form' %>

<%= link_to "<< Back to Articles List", articles_path %>
<br>
<%= link_to "Or Edit This Article", edit_article_path(@article) %>
<br>
<%= link_to "Or Delete This Article", article_path(@article), method: :delete, data: {confirm: "Are you sure you wish to delete this fabulous article?"} %>
